<<header data-bs-theme="dark">
    <div class="collapse text-bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 offset-md-1 py-4">
                </div>
                <div class="col-sm-4 offset-md-1 py-4 navbar">


                    <ul class="col-sm-4 offset-md-1 py-4 navbar-nav float-end">
                        <li class="nav-item"><a href="{% url 'catalog:product_list' %}" class="text-white">Главная</a></li>

                        {% if user.is_authenticated %}
                        <li class="nav-item"><a href="{% url 'users:logout' %}" class="text-white">Выход</a></li>
                        {% else %}
                        <li class="nav-item"><a href="{% url 'users:login' %}" class="text-white">Вход</a></li>
                        <li class="nav-item"><a href="{% url 'users:register' %}" class="text-white">Зарегистрироваться</a></li>
                        {% endif %}
                        <li class="nav-item"><a href="{% url 'blog:blogpost_list' %}" class="text-white">Статьи</a></li>
                        <li class="nav-item"><a href="{% url 'catalog:contacts' %}" class="text-white">Контакты</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Каталог</strong>
                {% if user.is_authenticated %}
                <div class="col">
                    <div class="p-3">Здравствуйте, {{ user.email }}!</div>
                </div>
                {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>